<%@ Page Language="vb" AutoEventWireup="false" Inherits="eezyimager.eezyimager" %>

<%@ Register TagPrefix="uc1" TagName="eezyImage" Src="~/UserControls/eezyImage.ascx" %>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
<head>
    <title>:: Administrator Area</title>
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
    <meta http-equiv="Content-Language" content="en-us">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta http-equiv="imagetoolbar" content="no">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="../Styles/black/screen.css" rel="stylesheet" type="text/css" />
</head>
<body style="background:#ffffff;">
    <form id="Form1" name="Form1" method="post" runat="server">
    <uc1:eezyImage ID="EezyImage1" runat="server"></uc1:eezyImage>


    </form>
</body>
</html>
