﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="BulkImageUpload.aspx.cs" Inherits="Aurora.Manage.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    Copying File  : <div runat="server" id="countFiles"></div>
    </div>
    </form>
</body>
</html>
