﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/Aurora.Manage.Master" AutoEventWireup="true" CodeBehind="ExternalManage.aspx.cs" Inherits="Aurora.Manage.ExternalManage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
<script src="Externalmanage.aspx.js" type="text/javascript"></script>
<iframe id="cmsFrame" style="display:none" src="" allowtransparency="true" frameborder="0" marginheight="0" marginwidth="0" width="100%" onload="ResizeFrame('cmsFrame');"></iframe>
</asp:Content>
