﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SiteMemberArea.ascx.cs"
    Inherits="Aurora.UserControls.SiteMemberArea" %>
<%@ Import Namespace="Aurora.Custom" %>



<div id="memberContainer">
    <div id="memberContent">
     <%--   <h4>
            Welcome to
            <%=CacheManager.SiteData.CompanyName %>'s Secure Area. Please use the Members Area
            navigation item to navigate the members area</h4>--%>
    </div>
    
</div>
