body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
}
.feature_nav {
    float: left;
    width: 200px;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul li a {
    background: none repeat scroll 0 0 #666666;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 1px 2px 0;
    padding: 8px;
    text-decoration: none;
}
ul li a.on {
    background: none repeat scroll 0 0 #CCCCCC;
    border: medium none;
    color: #333333;
    font-size: 16px;
    margin-right: 0;
}
.feature_content {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 2px solid #CCCCCC;
    float: left;
    height: 160px;
    padding: 20px;
    width: 460px;
}
#feature_one, #feature_two, #feature_three {
    display: none;
}
h1 {
    border-bottom: 2px solid #FFFFFF;
    color: #333333;
    font-size: 22px;
    margin-top: 0;
}
