﻿#prepeeled
{
    display: block;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}
#prepeeled p
{
    float: left;
    display: inline-block;
    font: normal 12px/49px Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#prepeeled img
{
    float: left;
    display: inline-block;
}

#contentMenu
{
    float:left;
}

.sys-template
{
    display:none;
}

.ui-dialog 
{
    position:fixed!important;
}

/*gallery styles for thumbnails*/

.thumbs {
    display:inline-block;
    margin:10px 0 0 10px;
    background-color:#000;
    background-position:center;
    background-repeat:no-repeat;
}

a.thumbs img {
    display:none;
}

#CategoryInfo.loading .loading, .paymentProcessor.loading {
    height: 48px;
    width: 48px;
    background: url(/styles/images/loader.gif);
}

.boltaccordion {
	position: relative;
}