#content {
	color: #ccc;
	font-family: Times New Roman;
	margin: 0 auto;
	padding: 0;
	font-size: 0.6em;
	background: #111 url('images/bg/gradient1.gif') top left repeat-x;
}

#content h1
{
	color: #fff;
	font-size: 47px;
	font-weight: bolder;
	margin: 0 40px;
	padding: 0.08em 0;
}

#content  h1 sup
{
	color: #ddd;
}

#content  h1 a
{
	color: #fff;
	text-decoration: none;
}

#content h1 .company, h1 a .company
{
	color: #d01a71;
}

#content h2
{
	color: #ddd;
	font-size: 2.5em;
}

#content h3
{
	color: #fff;
	font-size: 1.5em;
}

#content h4
{
	font-size: 1.3em;
}

.content
{
	margin: 0 20px;
}

.content a
{
	color: #fff;
}


.content p.linkage
{
	margin-top: 2em;
	text-align: right;
	font-size: 1.7em;
	color: #ddd;
}

.content p.linkage a { color: #fff; }

/*.content p.linkage a
{
	color: #fff;
	background: url('../images/bg/biglink_off.gif') center right no-repeat;
	padding: 10px 20px;
	text-decoration: none;
}

.content p.linkage a:hover
{
	background: url('../images/bg/biglink_on.gif') center right no-repeat;
	font-style: italic;
}*/


#myGallery
{
	text-align: left;
	margin: 0 auto;
}

.Category
{
    font-family:Arial;
    font-size:10pt;
    background-image:url('images/galleryaudioicon.png');
    background-color:#f7f5ed;
    background-position:left;
    background-repeat:no-repeat;
    padding-left:32px;
    padding-top:5px;
    width:550px;
    height:27px;
    cursor:pointer;
    border:1px solid #aaaaaa;
}
.Category:hover
{
    font-family:Arial;
    font-size:10pt;
    background-image:url('images/galleryaudioicon.png');
    background-color:#f7f5ed;
    background-position:left;
    background-repeat:no-repeat;
    padding-left:32px;
    padding-top:5px;
    width:550px;
    height:27px;
    cursor:pointer;    
    border:1px solid #aaaaaa;
}

.Category p
{
   font-family:Arial;
    font-size:10pt;
      margin:0px;
  
}
.Category_body
{
   font-family:Arial;
    font-size:10pt;
    padding-left:10px;
    width:100%;
    text-align :left;

   
}

.Category_body a:visited
{
   color:#203874;
}


#audio
{
    margin:0px;
    padding:0px;    
}   

.deleteItem img {
    vertical-align: -4px;
    padding-left: 2px;
}