.pagination {
	margin: 25px 0 5px 0;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.pagination a {
	padding: 5px 7px 5px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
 	margin: 0 0 0 3px;
 	background: #cccccc url("../images/bg_switch.png") repeat-x;
	border: 1px solid #AAA9A9;
	color: #333333;
}

.pagination a:hover {
	-moz-box-shadow: 0 1px 3px #666;
 	-webkit-box-shadow: 0 1px 3px #666;
 	box-shadow: 0 1px 3px #666;
 	border: 1px solid #666666;
	background: #999999 url("../images/bt_gh.png") repeat-x;
}

.pagination a, .pagination span {
	-moz-box-shadow: 0 1px 3px #666;
 	-webkit-box-shadow: 0 1px 3px #666;
 	box-shadow: 0 1px 3px #666;
 	border: 1px solid #666666;
	background: #999999 url("../images/bt_gh.png") repeat-x;
}

.pagination .current, .pagination .active {
	padding: 5px 7px 5px 7px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
 	margin: 0 0 0 3px;
	color: #666666;
	border: 1px solid #999999;
	background: #FFFFFF;
	text-shadow: 0 0 0 #999999;
}

.pagination .current.prev, .pagination .current.next{
	-moz-box-shadow: 0 1px 3px #666;
 	-webkit-box-shadow: 0 1px 3px #666;
 	box-shadow: 0 1px 3px #666;
 	border: 1px solid #666666;
	background: #999999 url("../images/bt_gh.png") repeat-x;
}