/*****************/
/** QapTcha CSS **/
/*****************/
#QapTcha {
	padding:10px;
	border:1px solid #F4F4F4;
	position:relative;
	/*background:url('images/bg_qaptcha.png') repeat;
	margin-top:10px;*/
}
#QapTcha .clr{clear:both}

#QapTcha #bgSlider {
	width:202px;
	height:22px;
	background:transparent url('images/sprites.png') no-repeat 0 -22px;
	float:left
}

#QapTcha #Slider {
	width:78px;
	height:22px;
	background:transparent url('images/sprites.png') no-repeat -32px 0;
	cursor:e-resize
}

#QapTcha #Icons {
	float:left;
	width:16px;
	height:16px;
	background:transparent url('images/sprites.png') no-repeat 0 0;
	top:10px;
	left:215px;
	position:absolute;
}

#QapTcha #TxtStatus {
	width:202px;
	margin-top:7px;
	text-align:center;
	color:#bb2828;
	font-family:Verdana;
	font-size:10px;
	clear:both
}

/*****************/
/** QapTcha CSS **/
/*****************/
.QapTcha {
	padding:10px 10px 10px 0;
	position:relative;
	/*background:url('images/bg_qaptcha.png') repeat;
	margin-top:10px;*/
}
.QapTcha .clr{clear:both}

.QapTcha #bgSlider {
	width:202px;
	height:22px;
	background:transparent url('images/sprites.png') no-repeat 0 -22px;
	float:left
}

.QapTcha #Slider {
	width:78px;
	height:22px;
	background:transparent url('images/sprites.png') no-repeat -32px 0;
	cursor:e-resize
}

.QapTcha #Icons {
	float:left;
	width:16px;
	height:16px;
	background:transparent url('images/sprites.png') no-repeat 0 0;
	top:10px;
	left:215px;
	position:absolute;
}

.QapTcha #TxtStatus {
	width:202px;
	margin-top:7px;
	text-align:center;
	color:#bb2828;
	font-family:Verdana;
	font-size:10px;
	clear:both
}