﻿.Gallery {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    float:left;
    cursor:pointer;
}

.GalleryImage  {
    position:relative;
    float:left;
    width:120px;
    height:100px;
    background-position:0px 0px;
    background-repeat: no-repeat;
}

.GalleryVideo  {
    position:relative;
    float:left;
    width:120px;
    height:100px;
    background-position:0px 0px;
    background-repeat: no-repeat;
}

.GalleryAudio  {
    position:relative;
    float:left;
    width:120px;
    height:100px;
    background-position:0px 0px;
    background-repeat: no-repeat;
}

.GalleryTitle  {
	position:absolute; 
	background-color:#333333;
	opacity: 70; 
	filter: alpha(opacity=70); 
	-ms-filter: "alpha(opacity=70)"; 
	-khtml-opacity: 70; 
	-moz-opacity: 70;
    color: #FFFFFF;
    font: 10px/20px Tahoma, Helvetica, sans-serif bold;
    bottom:0px;
    width:100%;
    overflow:hidden;
}


 