﻿.ddLlist
{
    width: 202px;
    background-image: url("images/bg_ip.png");
    height: 31px;
    border:1px solid #c0c0c0;
    cursor: pointer;
}
.ddLlist:hover .ddlListArrow
{
     background-image: url("images/arrows.gif");
     background-position:left -17px;
}
.ddlListArrow
{
     background-image: url("images/arrows.gif");
     float:right;
     width:17px;
     height:17px;
     margin-top:7px;
     margin-right:5px;
}

.swatch
{
    width: 22px;
    height: 21px;
    float: left;
    margin: 5px 0px 0px 5px;
    background:url('images/SelectorSprite.png') no-repeat -80px -232px;    
}
.description
{
    float: left;
    font-weight: bold;
    margin: 5px 0px 0px 10px;
}

.thumbs
{
    width: 200px;
    height: 150px;
    overflow:hidden;
    padding-bottom:10px;
    background:#4b4a4a;
    position:absolute; 
    margin-top:-5px;
    left:2px;
    z-index:100;
}

.thumbs div div
{
    width:35px;
    height:36px;
    float:left;
    background:url('images/SelectorSprite.png') no-repeat -1.5px -216px;    
    cursor:pointer;
}

.thumbs div div:hover
{
    width:35px;
    height:36px;
    float:left;
    background:url('images/SelectorSprite.png') no-repeat -41px -216px;    
    cursor:pointer;
}

.thumbsSelected
{
    background-image:url('images/SelectorSprite.png');
    background-repeat: no-repeat;
    background-position: -41px -216px!important;       
}

#ddlContainer
{
    position:relative;
}

.dropdownSel
{
    text-align:center;
    margin:0 auto 0px 13px;
}