﻿#FileViewerContainer
{
    width:100%;
}

.navigation_pane
{
    padding:5px;
    height: 400px;
    overflow: auto; 
    float: left;
    border-style:dashed;
    border-width:1px;
}

.navigation_pane ul 
{
    list-style:none;
}

.navigation_pane ul li:hover 
{
    background: #fef4d2;
    cursor:pointer;
}

.files_pane
{
    width:70%;
}

.fileText
{
    float:left;
}

.fileFunctions
{
    float:right;
    margin-right:5px;
}

#Usage
{
    font-weight:600;
    margin: 10px 5px 0 0;
}