<%@ Page Language="vb" AutoEventWireup="false" ClientIDMode="Static" Inherits="sawd.WebImage.WebImageUplaod" %>
<%@ Register TagPrefix="uc1" TagName="WebImage" Src="~/UserControls/WebImage.ascx" %>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
	<head>
		<title>WebImage</title>
	</head>
<body>
    <form id="Form1" method="post" runat="server">
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
		<uc1:WebImage id="MyImage" runat="server"></uc1:WebImage><br/>
        <br/>
    </form>
</body>
</html>
