/* Default CSS Stylesheet for a new WebImage.ascx */

html, body, table, td {
	FONT: 11px/20px Tahoma, Helvetica, sans-serif; 
}

.fileinputdiv {
	width: 200px; 
	height: 26px; 
	overflow: hidden;
	/*background-color:#E3E9FF;*/
	vertical-align:middle;
}

.fileinputbutton {
    BACKGROUND: url(images/buttonbg.gif) repeat-x;
    margin-top:2px;
	position: absolute; 
	background-color: #FFFFFF;
	color: #999999;
	border-style: solid;
	border-bottom: 1px solid #666666;
	border-top: 1px solid #666666;
	border-left: 1px solid #666666;
	border-right: 1px solid #333333;
}

.filepreloader {
    margin-top:2px;
	position: absolute; 
}

.fileinputhidden {
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}

.filemessage {
	position:relative; 
	background-color:#666666;
	opacity: 90; 
	filter: alpha(opacity=90); 
	-ms-filter: "alpha(opacity=90)"; 
	-khtml-opacity: 90; 
	-moz-opacity: 90;
	width:100%;
	height:50px;
    color: #FFFFFF;
    font: 14px/20px Tahoma, Helvetica, sans-serif bold;
}

.filtdleft {
	border-right: 2px solid #E3E9FF;
}

.filetdmain  {
    border-bottom: 1px solid #E3E9FF;
}

.filetdbg  {
    background:url('/Styles/images/bg_window_header.png');
    height:47px;
}