<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WebCaptcha.aspx.vb" Inherits="eezyimager.imagecode"%>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<HTML>
  <HEAD>
		<title>random</title>
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<meta http-equiv="Content-Language" content="en-us">
		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<meta http-equiv="imagetoolbar" content="no">
		<meta content="" name="description">
		<meta content="" name="keywords">
		<LINK href="style.css" type="text/css" rel="stylesheet">
</HEAD>
	<body>

    <form id="Form1" name="Form1" method="post" runat="server">

    </form>

  </body>
</HTML>
