<%@ Page Language="vb" AutoEventWireup="false" Codebehind="WebImageUplaod.aspx.vb"  ClientIDMode="Static" Inherits="sawd.WebImage.WebImageUplaod"%>
<%@ Register TagPrefix="uc1" TagName="WebImage" Src="WebImage.ascx" %>
<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
	<head>
		<title>test</title>
	</head>
<body>
 
    <form id="Form1" method="post" runat="server">   
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
        <a href="?itype=Test Image&iname=testImage.jpg&ipath=images/&lgWidth=600" >Test image</a><br />
        <a href="?itype=Test Image&iname=testLarge.jpg&ipath=images/&lgWidth=600&lgPrefix=lg_" >Test with large image</a><br />
        <a href="?itype=Test Image&iname=testBoth.jpg&ipath=images/&lgWidth=600&lgPrefix=lg_&smWidth=200&smPrefix=sm_" >Test with large image & small</a><br /><br />
		<% If Request("itype") <> "" Then %>
			<uc1:WebImage id="MyImage" runat="server"></uc1:WebImage><br/>
		<% End If %>
    </form>
</body>
</html>
