﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPage/Aurora.Manage.Master" AutoEventWireup="true" CodeBehind="Templates.aspx.cs" Inherits="Aurora.Manage.ManageTemplates.Templates" %>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    Hello
</asp:Content>
