﻿body
    {
        margin:0px 10px 10px 0px;
        padding-left:10px;
        background-image:none;
    }
    
    .placeholder {
        background-color: #CFCFCF;
        border-radius: 5px;
        width: 300px;
    }
    .ui-nestedSortable-error {
        background: none repeat scroll 0 0 #FBE3E4;
        color: #8A1F11;
    }
    ol {
        margin: 0;
        padding: 0 0 0 30px;
    }
    ol.sortable, ol.sortable ol {
        list-style-type: none;
        margin: 0 0 0 25px;
        padding: 0;
    }
    ol.sortable {
        margin: 1em 0;
    }
    .sortable li {
        margin: 7px 0 0;
        padding: 0;
    }
    .sortable li div {
        border: 1px solid #AAA9A9;
        cursor: move;
        margin: 0;
        padding: 3px;
        background: #cccccc url("../images/bg_switch.png") repeat-x;
        width: 300px;
        border-radius: 5px;
    }
    .hidden {
        color: #79b900;
    }