﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ProcessPayment.aspx.cs"
    Inherits="Aurora.ProcessPayment" EnableViewState ="false"  EnableViewStateMac="false"%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="/scripts/jquery-1.5.2.js" type="text/javascript"></script>
</head>
<body>
    <form id="form1" runat="server" action="" method="POST">
    <div>
    </div>
    </form>
    <input type="hidden" id="formData" runat="server"/>
    <input type="hidden" id="action" runat="server" />
    <form id="sendPayment" action="" method="post">
    
    </form>
</body>
</html>
